In [225]:
import pandas as pd

In [226]:
data=pd.read_csv('cars_data.csv')

In [227]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6257 entries, 0 to 6256
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Exterior color  6257 non-null   object
 1   Interior color  6257 non-null   object
 2   Drivetrain      6257 non-null   object
 3   MPG             5923 non-null   object
 4   Fuel type       5923 non-null   object
 5   Transmission    6257 non-null   object
 6   Engine          6257 non-null   object
 7   VIN             6257 non-null   object
 8   Stock #         6257 non-null   object
 9   Mileage         6257 non-null   object
 10  title           6257 non-null   object
 11  primaly_price   6257 non-null   float64
 12  currency        6257 non-null   object
 13  url             6257 non-null   object
dtypes: float64(1), object(13)
memory usage: 684.5+ KB

In [228]:
data.isnull().sum()

Exterior color      0
Interior color      0
Drivetrain          0
MPG               334
Fuel type         334
Transmission        0
Engine              0
VIN                 0
Stock #             0
Mileage             0
title               0
primaly_price       0
currency            0
url                 0
dtype: int64

In [229]:
data = data.fillna(0)

In [230]:
data['Fuel type'].unique()

array(['Gasoline', 'Hybrid', 'Diesel', 0, 'E85 Flex Fuel', '–',
       'Electric Fuel System', 'Gasoline Fuel',
       'MHEV (mild hybrid electric vehicle)'], dtype=object)

In [231]:
data.drop(columns=['VIN', 'Stock #', 'title', 'currency', 'url'], inplace=True)

In [232]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6257 entries, 0 to 6256
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Exterior color  6257 non-null   object
 1   Interior color  6257 non-null   object
 2   Drivetrain      6257 non-null   object
 3   MPG             6257 non-null   object
 4   Fuel type       6257 non-null   object
 5   Transmission    6257 non-null   object
 6   Engine          6257 non-null   object
 7   Mileage         6257 non-null   object
 8   primaly_price   6257 non-null   float64
dtypes: float64(1), object(8)
memory usage: 440.1+ KB

In [233]:
# Fill numerical missing values with median
data['MPG'] = data['MPG'].fillna(data['MPG'].mode()[0])
data['Fuel type'] = data['Fuel type'].fillna(data['Fuel type'].mode()[0])

In [234]:
from sklearn.preprocessing import LabelEncoder
data['Exterior color']=LabelEncoder().fit_transform(data['Exterior color'])

In [235]:
from sklearn.preprocessing import LabelEncoder
data['Interior color']=LabelEncoder().fit_transform(data['Interior color'])

In [236]:
from sklearn.preprocessing import LabelEncoder
data['Drivetrain']=LabelEncoder().fit_transform(data['Drivetrain'])

In [237]:
from sklearn.preprocessing import LabelEncoder
data['Fuel type']=LabelEncoder().fit_transform(data['Fuel type'].astype(str))

In [238]:
from sklearn.preprocessing import LabelEncoder
data['Transmission']=LabelEncoder().fit_transform(data['Transmission'].astype(str))

In [239]:
from sklearn.preprocessing import LabelEncoder
data['Engine']=LabelEncoder().fit_transform(data['Engine'].astype(str))

In [240]:
from sklearn.preprocessing import LabelEncoder
data['Mileage']=LabelEncoder().fit_transform(data['Mileage'].astype(str))

In [241]:
data['primaly_price']=data['primaly_price'].astype(int)

In [242]:
import numpy as np

def clean_mpg(value):
    if isinstance(value, str):
        if '–' in value:  # Handle range values like '18–23'
            parts = value.split('–')
            try:
                nums = [float(p) for p in parts if p.replace('.', '', 1).isdigit()]
                return np.mean(nums) if nums else np.nan
            except ValueError:
                return np.nan
        elif value.replace('.', '', 1).isdigit():  # Single numeric values
            return float(value)
    return np.nan  # Convert invalid entries to NaN

# Apply cleaning function
data['MPG'] = data['MPG'].apply(clean_mpg)

# Fill NaN values with the mean of valid values
data['MPG'].fillna(data['MPG'].mean(), inplace=True)

C:\Users\yella\AppData\Local\Temp\ipykernel_14936\3099304883.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['MPG'].fillna(data['MPG'].mean(), inplace=True)

In [243]:
# Import pandas


# Replace NaN with mode (most frequent value)
mode_value = data['MPG'].mode()[0]  # Get the most frequent value
data['MPG'].fillna(mode_value, inplace=True)

# Display results
print(data['MPG'].unique())

[22.48552142 20.5        19.5        22.         19.         35.5
 23.         16.         29.5        22.5        30.         15.5
 26.         20.         21.         28.         94.5        17.5
 25.         23.5        32.         24.         21.5        24.5
 36.         34.          0.         25.5        38.         29.
 12.         47.5        41.5        17.         27.5        18.5
 18.         52.         26.5        33.5        15.         27.
 38.5        30.5        42.5        76.         43.5        16.5
 28.5        12.5        53.5        32.5        36.5        48.
 39.5        14.         13.5        13.         31.5        37.
 31.         45.5         9.         34.5        42.         33.
 35.         54.5        50.5         9.5        14.5         8.
 49.5        10.         39.         37.5        44.         48.5
 49.         11.         40.         46.5         6.5        43.
  7.5       ]

C:\Users\yella\AppData\Local\Temp\ipykernel_14936\422312289.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['MPG'].fillna(mode_value, inplace=True)

In [244]:
data['MPG']=data['MPG'].astype(int)

In [245]:
data

,Exterior color,Interior color,Drivetrain,MPG,Fuel type,Transmission,Engine,Mileage,primaly_price
0,876,210,4,22,4,36,316,1596,106608
1,416,210,4,20,4,50,165,2628,80480
2,1007,488,2,19,4,36,167,931,101795
3,781,353,2,22,4,44,62,1246,62990
4,159,47,4,20,6,2,201,2937,70912
...,...,...,...,...,...,...,...,...,...
6252,896,47,2,24,4,44,165,2785,130115
6253,1087,195,4,16,4,2,375,1922,86035
6254,90,47,0,16,4,2,229,0,87290
6255,530,363,4,0,1,50,412,2377,35995
6256,953,47,2,24,4,16,120,1982,22990

In [246]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6257 entries, 0 to 6256
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Exterior color  6257 non-null   int64
 1   Interior color  6257 non-null   int64
 2   Drivetrain      6257 non-null   int64
 3   MPG             6257 non-null   int64
 4   Fuel type       6257 non-null   int64
 5   Transmission    6257 non-null   int64
 6   Engine          6257 non-null   int64
 7   Mileage         6257 non-null   int64
 8   primaly_price   6257 non-null   int64
dtypes: int64(9)
memory usage: 440.1 KB

In [247]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6257 entries, 0 to 6256
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Exterior color  6257 non-null   int64
 1   Interior color  6257 non-null   int64
 2   Drivetrain      6257 non-null   int64
 3   MPG             6257 non-null   int64
 4   Fuel type       6257 non-null   int64
 5   Transmission    6257 non-null   int64
 6   Engine          6257 non-null   int64
 7   Mileage         6257 non-null   int64
 8   primaly_price   6257 non-null   int64
dtypes: int64(9)
memory usage: 440.1 KB

In [248]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score



# Display first few rows
print(data.head())

# Define features (X) and target variable (y)
X = data[['Exterior color', 'Interior color', 'Drivetrain', 'MPG', 'Fuel type', 
        'Transmission', 'Engine', 'Mileage']]
y = data['primaly_price']

# Split into training & testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize XGBoost regressor
model = xgb.XGBRegressor(
    n_estimators=200, 
    learning_rate=0.05, 
    max_depth=6, 
    objective='reg:squarederror', 
    random_state=42
)

# Train the model
model.fit(X_train, y_train)

# Predict on test data
y_pred = model.predict(X_test)

# Evaluate model performance
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error: {mae:.2f}")
print(f"Mean Squared Error: {mse:.2f}")
print(f"R² Score: {r2:.2f}")

# Predict a new car's price (Example)
new_car = pd.DataFrame([[2, 1, 0, 25.0, 1, 0, 3, 50000]], 
                       columns=['Exterior color', 'Interior color', 'Drivetrain', 'MPG', 
                                'Fuel type', 'Transmission', 'Engine', 'Mileage'])

predicted_price = model.predict(new_car)
print(f"Predicted Price: ${predicted_price[0]:.2f}")

   Exterior color  Interior color  Drivetrain  MPG  Fuel type  Transmission  \
0             876             210           4   22          4            36
1             416             210           4   20          4            50
2            1007             488           2   19          4            36
3             781             353           2   22          4            44
4             159              47           4   20          6             2

   Engine  Mileage  primaly_price
0     316     1596         106608
1     165     2628          80480
2     167      931         101795
3      62     1246          62990
4     201     2937          70912
Mean Absolute Error: 13549.04
Mean Squared Error: 491313024.00
R² Score: 0.63
Predicted Price: $50787.68